{% extends "admin/extra_view.html" %}
{% load i18n %}

{% block content %}
<p>
{% blocktrans %}Here you can generate an allowance application for the SJR.{% endblocktrans %}
</p>
<p>
{% blocktrans %}The application needs to be complemented with an invoice from the trip as proof.{% endblocktrans %}
</p>

<form action="" method="post" target="_blank">
    {% csrf_token %}
    <p>
    <table>
    {{ form.as_table }}
    </table>
    </p>
    <p>
        {% blocktrans %}Please send this application form to the jdav finance officer via email.{% endblocktrans %}
        </p>
    <br>
    <input type="hidden" name="action" value="sjr_application">
    <input type="hidden" name="sjr_application">
    <input class="default" style="color: $default-link-color" type="submit" name="apply"
        value="{% translate 'Generate' %}">
    <a href="#" class="button cancel-link">{% translate "Cancel" %}</a>
</form>


{% endblock %}
