{% extends "members/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
{% if is_reset_mode %}{% trans "Reset password" %}{% else %}{% trans "Register" %}{% endif %}
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static "ludwigsburgalpin/termine.css" static %}">

<h1>{% if is_reset_mode %}{% trans "Reset password" %}{% else %}{% trans "Set login data" %}{% endif %}</h1>

<p>{% trans "Welcome, " %} {{ member.prename }}.
{% if is_reset_mode %}
{% blocktrans %}To reset your password, please enter a new password below.{% endblocktrans %}</p>
{% else %}
{% blocktrans %}To set your personal login data, please enter the password that you received.{% endblocktrans %}</p>
{% endif %}

{% if error_message %}
	<p><b>{{ error_message }}</b></p>
{% endif %}

<form action="" method="post" enctype="multipart/form-data">
    <table class="termine">
    {% csrf_token %}
    {% if is_reset_mode %}
    <tr>
        <th><label>{% trans "Username" %}</label></th>
        <td>
            <span>{{ member.user.username }}</span>
        </td>
    </tr>
    {% endif %}
    {{ form.as_table }}
    </table>
    <input name="key" type="hidden" value="{{key}}">
    <input name="password" type="hidden" value="{{password}}">
    <input name="save" type="hidden">
    <input type="submit" value="{% trans "submit" %}"/>
</form>

{% endblock %}
