{% extends "admin/extra_view.html" %}
{% load i18n admin_urls %}
{% load overview_extras %}

{% block content %}
<h2>{% translate "Submit to the finance department" %}</h2>
<p>{% translate "Please check if all expenses are documented correctly and if all payers have a valid account code." %}</p>
<table>
    <th>
        <td>{% trans "Explanation" %}</td>
        <td>{% trans "Amount" %}</td>
        <td>{% trans "Paid by" %}</td>
        <td>{% trans "IBAN valid" %}</td>
    </th>
    {% for bill in statement.bill_set.all %}
        <tr>
            <td>
            {{bill.short_description}}
            </td>
            <td>
            {{bill.explanation}}
            </td>
            <td>
            {{ bill.amount }}€
            </td>
            <td>
                {{ bill.paid_by.name }}
            </td>
            <td>
                {{ bill.paid_by.iban_valid|render_bool }}
            </td>
        </tr>
    {% endfor %}
</table>

<p>
{% trans "Do you want to submit the statement for further processing by the finance department? If you proceed, no further changes to the statement are possible." %}
</p>

<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="submit_statement">
    <input class="default" style="color: $default-link-color" type="submit" name="apply" value="{% translate 'Submit' %}">
    {% url opts|admin_urlname:'change' statement.pk|admin_urlquote as change_url %}
    <a class="button" href="{% add_preserved_filters change_url %}">{% translate "Cancel" %}</a>
</form>
{% endblock %}
