table.termine {
    text-align: left;
}

table.termine td {
    padding-left: 50px;
    display: block;
    float: left;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;
}
