{% extends "ludwigsburgalpin/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static "ludwigsburgalpin/termine.css" static %}">

<h1>Ludwigsburg Alpin Termine</h1>

<p>Hier kannst du einen Termin für deine Gruppe hinzufügen. Pass bitte auf, du kannst ihn danach nicht mehr ändern!</p>

{% if error_message %}
    <p><b>{{ error_message }}</b></p>
{% endif %}

<form action="" method="post">
    <table class="termine">
    {% csrf_token %}
    {{ form.as_table }}
    </table>
    <p><input type="submit" value="Abschicken"/></p>
</form>

{% endblock %}
